In [83]:
library(tidyverse)
library(readxl)

In [84]:
#setting the file name
gstc_file <- "gstc-yejun17-tables.xlsx"

In [42]:
gstc_file %>%
    read_excel(sheet = "Table 1", range = 'A9:F33', col_names = c("Trading_partner", "Missing", "Total_Exports", "Total_Imports", "Two-way_Trade", "Trade_Balance")) -> table_1_untidy

table_1_untidy

   Trading_partner                           Missing Total_Exports
1  Australia                                 NA      13043.3776
2  China, People's Republic of               NA      13231.8455
3  European Union                            NA       8225.2962
4  United States of America                  NA       8164.4183
5  Japan                                     NA       3957.8230
6  Singapore                                 NA       1340.6170
7  Korea, Republic of                        NA       1957.0344
8  Thailand                                  NA       1083.7401
9  United Arab Emirates                      NA        851.8862
10 Malaysia                                  NA       1213.5236
11 India                                     NA       1740.1841
12 Taiwan                                    NA       1239.3499
13 Indonesia                                 NA        995.9848
14 Canada                                    NA       1009.3270
15 Hong Kong (Special Administrative Region) NA       1202.5197
16 Viet Nam                                  NA        719.0035
17 Philippines                               NA        887.4782
18 Saudi Arabia                              NA        593.9624
19 Fiji                                      NA        637.7335
20 Switzerland                               NA        297.0714
21 Algeria                                   NA        800.7760
22 Mexico                                    NA        474.9454
23 Russia                                    NA        345.2049
24 Brazil                                    NA        248.0226
25 Sri Lanka                                 NA        371.0357
   Total_Imports Two-way_Trade Trade_Balance
1  11447.926153  24491.3038     1595.45149
2  10861.059699  24092.9052     2370.78583
3  11933.684361  20158.9806    -3708.38816
4   8385.810682  16550.2290     -221.39239
5   3899.313335   7857.1363       58.50966
6   2808.809584   4149.4266    -1468.19257
7   2079.481688   4036.5161     -122.44729
8   2583.861705   3667.6018    -1500.12161
9   1945.839285   2797.7254    -1093.95312
10  1545.118119   2758.6418     -331.59448
11   838.767540   2578.9517      901.41657
12   819.208607   2058.5585      420.14133
13   831.042922   1827.0277      164.94189
14   755.505920   1764.8329      253.82104
15   416.125239   1618.6450      786.39450
16   782.184138   1501.1876      -63.18067
17   221.260841   1108.7390      666.21737
18   477.541662   1071.5041      116.42076
19   406.043888   1043.7774      231.68959
20   719.304001   1016.3754     -422.23262
21     0.244944    801.0210      800.53107
22   295.137559    770.0829      179.80782
23   238.962160    584.1671      106.24275
24   210.363206    458.3858       37.65939
25    73.303157    444.3389      297.73254

In [43]:
table_1_tidy <- table_1_untidy[ , -2]
table_1_tidy

   Trading_partner                           Total_Exports Total_Imports
1  Australia                                 13043.3776    11447.926153
2  China, People's Republic of               13231.8455    10861.059699
3  European Union                             8225.2962    11933.684361
4  United States of America                   8164.4183     8385.810682
5  Japan                                      3957.8230     3899.313335
6  Singapore                                  1340.6170     2808.809584
7  Korea, Republic of                         1957.0344     2079.481688
8  Thailand                                   1083.7401     2583.861705
9  United Arab Emirates                        851.8862     1945.839285
10 Malaysia                                   1213.5236     1545.118119
11 India                                      1740.1841      838.767540
12 Taiwan                                     1239.3499      819.208607
13 Indonesia                                   995.9848      831.042922
14 Canada                                     1009.3270      755.505920
15 Hong Kong (Special Administrative Region)  1202.5197      416.125239
16 Viet Nam                                    719.0035      782.184138
17 Philippines                                 887.4782      221.260841
18 Saudi Arabia                                593.9624      477.541662
19 Fiji                                        637.7335      406.043888
20 Switzerland                                 297.0714      719.304001
21 Algeria                                     800.7760        0.244944
22 Mexico                                      474.9454      295.137559
23 Russia                                      345.2049      238.962160
24 Brazil                                      248.0226      210.363206
25 Sri Lanka                                   371.0357       73.303157
   Two-way_Trade Trade_Balance
1  24491.3038     1595.45149
2  24092.9052     2370.78583
3  20158.9806    -3708.38816
4  16550.2290     -221.39239
5   7857.1363       58.50966
6   4149.4266    -1468.19257
7   4036.5161     -122.44729
8   3667.6018    -1500.12161
9   2797.7254    -1093.95312
10  2758.6418     -331.59448
11  2578.9517      901.41657
12  2058.5585      420.14133
13  1827.0277      164.94189
14  1764.8329      253.82104
15  1618.6450      786.39450
16  1501.1876      -63.18067
17  1108.7390      666.21737
18  1071.5041      116.42076
19  1043.7774      231.68959
20  1016.3754     -422.23262
21   801.0210      800.53107
22   770.0829      179.80782
23   584.1671      106.24275
24   458.3858       37.65939
25   444.3389      297.73254

In [56]:
sum(is.na(table_1_tidy))

[1] 0

gstc_file %>%
    read_excel(sheet = "Table 2", range = 'A8:G37', col_names = c("Destination", "Missing", "Goods_NZ$", "Goods_Rank", "Services_NZ$", "Total_NZ$", "Rank")) -> table_2_untidy

table_2_untidy

In [45]:
for (i in 4:8){
    table_2_untidy[i,1] = table_2_untidy[i,2]
}
table_2_untidy

   Destination                               Missing        Goods_NZ$(million)
1  China, People's Republic of               NA             10412.27174
2  Australia                                 NA              8346.48191
3  European Union                            NA              4848.14441
4  United Kingdom                            United Kingdom  1406.94891
5  Germany                                   Germany          691.36035
6  Netherlands                               Netherlands      802.16768
7  France                                    France           322.99800
8  Italy                                     Italy            355.23680
9  United States of America                  NA              5233.32181
10 Japan                                     NA              3078.56612
11 Korea, Republic of                        NA              1489.14053
12 India                                     NA               698.85157
13 Singapore                                 NA               943.01536
14 Taiwan                                    NA              1064.48959
15 Malaysia                                  NA               924.72782
16 Hong Kong (Special Administrative Region) NA               820.97543
17 Thailand                                  NA               876.41630
18 Canada                                    NA               604.21572
19 Indonesia                                 NA               869.50450
20 Philippines                               NA               665.59700
21 United Arab Emirates                      NA               706.57574
22 Algeria                                   NA               800.72215
23 Viet Nam                                  NA               629.59535
24 Fiji                                      NA               475.12020
25 Saudi Arabia                              NA               506.68205
26 Mexico                                    NA               437.46832
27 Sri Lanka                                 NA               311.00511
28 Russia                                    NA               295.12868
29 Egypt                                     NA               300.64183
30 Switzerland                               NA                93.39881
   Goods_Rank Services_NZ$(million) Total_NZ$(million) Rank
1  1          2819.573790           13231.8455         1
2  2          4696.895740           13043.3776         2
3  4          3377.151790            8225.2962         3
4  …          1383.428570            2790.3775         …
5  …           750.083896            1441.4442         …
6  …           148.430099             950.5978         …
7  …           416.169539             739.1675         …
8  …            65.619817             420.8566         …
9  3          2931.096480            8164.4183         4
10 5           879.256869            3957.8230         5
11 6           467.893867            1957.0344         6
12 15         1041.332540            1740.1841         7
13 8           397.601658            1340.6170         8
14 7           174.860350            1239.3499         9
15 9           288.795819            1213.5236         10
16 12          381.544307            1202.5197         11
17 10          207.323789            1083.7401         12
18 18          405.111240            1009.3270         13
19 11          126.480319             995.9848         14
20 16          221.881205             887.4782         15
21 14          145.310425             851.8862         16
22 13            0.053858             800.7760         17
23 17           89.408118             719.0035         18
24 20          162.613284             637.7335         19
25 19           87.280366             593.9624         20
26 21           37.477055             474.9454         21
27 22           60.030588             371.0357         22
28 24           50.076230             345.2049         23
29 23            2.239523             302.8814         24
30 37          203.672571             297.0714         25

In [46]:
table_2_untidy1 <- table_2_untidy[ , -2]
table_2_untidy1

   Destination                               Goods_NZ$(million) Goods_Rank
1  China, People's Republic of               10412.27174        1
2  Australia                                  8346.48191        2
3  European Union                             4848.14441        4
4  United Kingdom                             1406.94891        …
5  Germany                                     691.36035        …
6  Netherlands                                 802.16768        …
7  France                                      322.99800        …
8  Italy                                       355.23680        …
9  United States of America                   5233.32181        3
10 Japan                                      3078.56612        5
11 Korea, Republic of                         1489.14053        6
12 India                                       698.85157        15
13 Singapore                                   943.01536        8
14 Taiwan                                     1064.48959        7
15 Malaysia                                    924.72782        9
16 Hong Kong (Special Administrative Region)   820.97543        12
17 Thailand                                    876.41630        10
18 Canada                                      604.21572        18
19 Indonesia                                   869.50450        11
20 Philippines                                 665.59700        16
21 United Arab Emirates                        706.57574        14
22 Algeria                                     800.72215        13
23 Viet Nam                                    629.59535        17
24 Fiji                                        475.12020        20
25 Saudi Arabia                                506.68205        19
26 Mexico                                      437.46832        21
27 Sri Lanka                                   311.00511        22
28 Russia                                      295.12868        24
29 Egypt                                       300.64183        23
30 Switzerland                                  93.39881        37
   Services_NZ$(million) Total_NZ$(million) Rank
1  2819.573790           13231.8455         1
2  4696.895740           13043.3776         2
3  3377.151790            8225.2962         3
4  1383.428570            2790.3775         …
5   750.083896            1441.4442         …
6   148.430099             950.5978         …
7   416.169539             739.1675         …
8    65.619817             420.8566         …
9  2931.096480            8164.4183         4
10  879.256869            3957.8230         5
11  467.893867            1957.0344         6
12 1041.332540            1740.1841         7
13  397.601658            1340.6170         8
14  174.860350            1239.3499         9
15  288.795819            1213.5236         10
16  381.544307            1202.5197         11
17  207.323789            1083.7401         12
18  405.111240            1009.3270         13
19  126.480319             995.9848         14
20  221.881205             887.4782         15
21  145.310425             851.8862         16
22    0.053858             800.7760         17
23   89.408118             719.0035         18
24  162.613284             637.7335         19
25   87.280366             593.9624         20
26   37.477055             474.9454         21
27   60.030588             371.0357         22
28   50.076230             345.2049         23
29    2.239523             302.8814         24
30  203.672571             297.0714         25

In [49]:
table_2_untidy <- replace(table_2_untidy1, table_2_untidy1 == "…", 0)
table_2_tidy

   Destination                               Goods_NZ$(million) Goods_Rank
1  China, People's Republic of               10412.27174        1
2  Australia                                  8346.48191        2
3  European Union                             4848.14441        4
4  United Kingdom                             1406.94891        0
5  Germany                                     691.36035        0
6  Netherlands                                 802.16768        0
7  France                                      322.99800        0
8  Italy                                       355.23680        0
9  United States of America                   5233.32181        3
10 Japan                                      3078.56612        5
11 Korea, Republic of                         1489.14053        6
12 India                                       698.85157        15
13 Singapore                                   943.01536        8
14 Taiwan                                     1064.48959        7
15 Malaysia                                    924.72782        9
16 Hong Kong (Special Administrative Region)   820.97543        12
17 Thailand                                    876.41630        10
18 Canada                                      604.21572        18
19 Indonesia                                   869.50450        11
20 Philippines                                 665.59700        16
21 United Arab Emirates                        706.57574        14
22 Algeria                                     800.72215        13
23 Viet Nam                                    629.59535        17
24 Fiji                                        475.12020        20
25 Saudi Arabia                                506.68205        19
26 Mexico                                      437.46832        21
27 Sri Lanka                                   311.00511        22
28 Russia                                      295.12868        24
29 Egypt                                       300.64183        23
30 Switzerland                                  93.39881        37
   Services_NZ$(million) Total_NZ$(million) Rank
1  2819.573790           13231.8455         1
2  4696.895740           13043.3776         2
3  3377.151790            8225.2962         3
4  1383.428570            2790.3775         0
5   750.083896            1441.4442         0
6   148.430099             950.5978         0
7   416.169539             739.1675         0
8    65.619817             420.8566         0
9  2931.096480            8164.4183         4
10  879.256869            3957.8230         5
11  467.893867            1957.0344         6
12 1041.332540            1740.1841         7
13  397.601658            1340.6170         8
14  174.860350            1239.3499         9
15  288.795819            1213.5236         10
16  381.544307            1202.5197         11
17  207.323789            1083.7401         12
18  405.111240            1009.3270         13
19  126.480319             995.9848         14
20  221.881205             887.4782         15
21  145.310425             851.8862         16
22    0.053858             800.7760         17
23   89.408118             719.0035         18
24  162.613284             637.7335         19
25   87.280366             593.9624         20
26   37.477055             474.9454         21
27   60.030588             371.0357         22
28   50.076230             345.2049         23
29    2.239523             302.8814         24
30  203.672571             297.0714         25

In [55]:
sum(is.na(table_2_tidy))

[1] 0

In [52]:
gstc_file %>%
    read_excel(sheet = "Table  3", range = 'A9:E38', col_names = c("Commodity_Service", "2016_NZ$", "2016_%", "2017_NZ$", "2017_%")) -> table_3_untidy

table_3_untidy

New names:
* `2016_NZ$(million)` -> `2016_NZ$(million)...2`
* `2016_%_of_Total` -> `2016_%_of_Total...3`
* `2016_NZ$(million)` -> `2016_NZ$(million)...4`
* `2016_%_of_Total` -> `2016_%_of_Total...5`

   Commodity_Service                                      2016_NZ$(million)...2
1  Milk powder, butter, and cheese                        11162.1508
2  Business and other personal travel                     10263.9019
3  Meat and edible offal                                   6602.0018
4  Logs, wood, and wood articles                           3823.2998
5  Education travel                                        3472.3997
6  Fruit                                                   2635.5403
7  Air transport                                           2109.6120
8  Wine                                                    1568.7390
9  Fish, crustaceans, and molluscs                         1585.7600
10 Mechanical machinery and equipment                      1725.5495
11 Preparations of cereals, flour, and starch              1098.8977
12 Miscellaneous edible preparations                       1220.9611
13 Aluminium and aluminium articles                         984.0330
14 Electrical machinery and equipment                      1083.0416
15 Casein and caseinates                                    995.0284
16 Telecommunications, computer, and information services   883.2350
17 Optical, medical, and measuring equipment                850.4999
18 Financial services                                       726.4820
19 Wood pulp and waste paper                                747.5381
20 Crude oil                                                588.7741
21 Precious metals, jewellery, and coins                    784.5046
22 Iron and steel, and articles                             658.3266
23 Management fees                                          609.8940
24 Textiles and textile articles                            612.0261
25 Sea transport                                            526.9016
26 Wool                                                     759.7931
27 Plastic and plastic articles                             501.2782
28 Paper and paperboard, and articles                       494.6912
29 Other animal originated products                         476.6658
30 Vegetables                                               440.7178
   2016_%_of_Total...3 2016_NZ$(million)...4 2016_%_of_Total...5
1  15.7506838          12505.8119            17.4113021
2  14.4831831          10237.9868            14.2539072
3   9.3159504           6048.0948             8.4205013
4   5.3949805           4224.1004             5.8810327
5   4.8998326           3648.9935             5.0803362
6   3.7189572           2689.7507             3.7448238
7   2.9768306           2266.9210             3.1561363
8   2.2136156           1663.8311             2.3164802
9   2.2376336           1576.8739             2.1954135
10  2.4348878           1559.5597             2.1713076
11  1.5506321           1217.9415             1.6956873
12  1.7228734           1158.2266             1.6125489
13  1.3885490           1022.8183             1.4240257
14  1.5282580           1004.2993             1.3982426
15  1.4040643            858.2954             1.1949676
16  1.2463149            857.4550             1.1937976
17  1.2001231            835.3292             1.1629928
18  1.0251240            760.8410             1.0592861
19  1.0548357            729.1503             1.0151645
20  0.8308072            649.7682             0.9046442
21  1.1069984            642.2634             0.8941956
22  0.9289513            621.9156             0.8658662
23  0.8606090            619.3030             0.8622288
24  0.8636176            550.0127             0.7657590
25  0.7435002            548.4929             0.7636430
26  1.0721286            523.3058             0.7285761
27  0.7073434            477.3591             0.6646065
28  0.6980487            459.7537             0.6400952
29  0.6726134            439.6656             0.6121275
30  0.6218879            432.5212             0.6021807

In [54]:
sum(is.na(table_3_untidy))

[1] 0

In [59]:
gstc_file %>%
    read_excel(sheet = "Table 4", range = 'A8:H32', col_names = c("Commodity_Service", "Missing", "Destination", "2013_NZ$", "2014_NZ$", "2015_NZ$", "2016_NZ$", "2017_NZ$")) -> table_4_untidy

table_4_untidy

   Commodity_Service                     Missing Destination
1  Milk powder, butter, and cheese       NA      China, People's Republic of
2  Logs, wood, and wood articles         NA      China, People's Republic of
3  Other personal travel                 NA      Australia
4  Other personal travel                 NA      European Union
5  Meat and edible offal                 NA      United States of America
6  Other personal travel                 NA      China, People's Republic of
7  Meat and edible offal                 NA      European Union
8  Meat and edible offal                 NA      China, People's Republic of
9  Other personal travel                 NA      United States of America
10 Education travel services             NA      China, People's Republic of
11 Other business services               NA      Australia
12 Education travel services             NA      India
13 Milk powder, butter, and cheese       NA      Algeria
14 Transportation services               NA      Australia
15 Fruit                                 NA      European Union
16 Milk powder, butter, and cheese       NA      Australia
17 Precious metals, jewellery, and coins NA      Australia
18 Miscellaneous edible preparations     NA      Australia
19 Transportation services               NA      United States of America
20 Wine                                  NA      European Union
21 Mechanical machinery and equipment    NA      Australia
22 Fish, crustaceans, and molluscs       NA      China, People's Republic of
23 Milk powder, butter, and cheese       NA      Malaysia
24 Crude oil                             NA      Australia
25 Wine                                  NA      United States of America
   2013_NZ$  2014_NZ$  2015_NZ$  2016_NZ$  2017_NZ$
1  2796.8642 6011.6530 2321.9586 2619.8423 3251.9649
2  1505.9041 2017.6282 1628.1894 1676.6692 2068.1921
3  1936.7269 1902.8760 1867.3766 2009.0290 2013.9782
4  1101.4450 1215.0020 1748.0244 1935.1723 1969.9008
5  1168.6817 1208.9064 1861.4985 1738.1868 1542.6334
6   647.3785  873.3173 1281.6161 1644.7197 1451.5250
7  1511.4368 1579.3455 1597.5298 1729.2698 1407.1006
8   742.9209 1036.1843 1039.9154 1195.8001 1178.7004
9   420.8609  720.8834  864.9960  935.9300 1035.9784
10  513.7514  551.5949  664.6886  828.6339  936.3512
11  756.8549  729.8770  770.3110  859.0860  844.8000
12  300.4078  327.5249  586.8044  845.7514  822.7623
13  421.5118  355.6457  576.4471  477.3433  779.2068
14  734.0630  758.0797  725.9250  670.5625  739.6157
15  468.8382  498.6630  535.8179  625.2464  650.1057
16  359.2550  428.2869  427.5426  449.2493  603.8598
17  848.0375  725.3219  681.4610  730.2120  597.2088
18  383.9065  394.0976  456.1944  574.8046  586.8290
19  402.7017  450.2419  477.3426  511.9790  576.0103
20  368.1050  431.3686  481.7837  525.2687  548.4258
21  620.7560  549.1892  560.2037  569.5988  547.3518
22  391.4723  396.5841  450.7349  541.3570  525.9552
23  402.9466  566.7794  585.8348  437.0720  524.0858
24 1632.4301 1188.5202  888.8192  466.4984  518.5321
25  283.2429  327.7154  372.2327  460.3717  518.3753

In [68]:
table_4_tidy <- table_4_untidy[ , -2]
table_4_tidy

   Commodity_Service                     2013_NZ$  2014_NZ$  2015_NZ$
1  Milk powder, butter, and cheese       2796.8642 6011.6530 2321.9586
2  Logs, wood, and wood articles         1505.9041 2017.6282 1628.1894
3  Other personal travel                 1936.7269 1902.8760 1867.3766
4  Other personal travel                 1101.4450 1215.0020 1748.0244
5  Meat and edible offal                 1168.6817 1208.9064 1861.4985
6  Other personal travel                  647.3785  873.3173 1281.6161
7  Meat and edible offal                 1511.4368 1579.3455 1597.5298
8  Meat and edible offal                  742.9209 1036.1843 1039.9154
9  Other personal travel                  420.8609  720.8834  864.9960
10 Education travel services              513.7514  551.5949  664.6886
11 Other business services                756.8549  729.8770  770.3110
12 Education travel services              300.4078  327.5249  586.8044
13 Milk powder, butter, and cheese        421.5118  355.6457  576.4471
14 Transportation services                734.0630  758.0797  725.9250
15 Fruit                                  468.8382  498.6630  535.8179
16 Milk powder, butter, and cheese        359.2550  428.2869  427.5426
17 Precious metals, jewellery, and coins  848.0375  725.3219  681.4610
18 Miscellaneous edible preparations      383.9065  394.0976  456.1944
19 Transportation services                402.7017  450.2419  477.3426
20 Wine                                   368.1050  431.3686  481.7837
21 Mechanical machinery and equipment     620.7560  549.1892  560.2037
22 Fish, crustaceans, and molluscs        391.4723  396.5841  450.7349
23 Milk powder, butter, and cheese        402.9466  566.7794  585.8348
24 Crude oil                             1632.4301 1188.5202  888.8192
25 Wine                                   283.2429  327.7154  372.2327
   2016_NZ$  2017_NZ$
1  2619.8423 3251.9649
2  1676.6692 2068.1921
3  2009.0290 2013.9782
4  1935.1723 1969.9008
5  1738.1868 1542.6334
6  1644.7197 1451.5250
7  1729.2698 1407.1006
8  1195.8001 1178.7004
9   935.9300 1035.9784
10  828.6339  936.3512
11  859.0860  844.8000
12  845.7514  822.7623
13  477.3433  779.2068
14  670.5625  739.6157
15  625.2464  650.1057
16  449.2493  603.8598
17  730.2120  597.2088
18  574.8046  586.8290
19  511.9790  576.0103
20  525.2687  548.4258
21  569.5988  547.3518
22  541.3570  525.9552
23  437.0720  524.0858
24  466.4984  518.5321
25  460.3717  518.3753

In [63]:
sum(is.na(table_4_tidy))

[1] 0

In [85]:
gstc_file %>%
    read_excel(sheet = "Table 5", range = 'A8:G37', col_names = c("Source", "Missing", "Goods_NZ$", "Goods_Rank", "Services_NZ$", "Total_NZ$", "Rank")) -> table_5_untidy

table_5_untidy

   Source                                    Missing        Goods_NZ$
1  European Union                            NA              8996.68800
2  NA                                        Germany         2587.34050
3  NA                                        United Kingdom  1452.48229
4  NA                                        Italy           1027.38519
5  NA                                        France           950.08825
6  NA                                        Denmark          201.30472
7  Australia                                 NA              6284.17844
8  China, People's Republic of               NA             10161.99248
9  United States of America                  NA              5665.38388
10 Japan                                     NA              3699.81179
11 Singapore                                 NA              1713.43804
12 Thailand                                  NA              2378.74833
13 Korea, Republic of                        NA              1936.01864
14 United Arab Emirates                      NA              1739.48219
15 Malaysia                                  NA              1396.32667
16 India                                     NA               580.61289
17 Indonesia                                 NA               702.91815
18 Taiwan                                    NA               773.85987
19 Viet Nam                                  NA               706.86775
20 Canada                                    NA               610.24054
21 Switzerland                               NA               356.95821
22 Saudi Arabia                              NA               469.77417
23 Hong Kong (Special Administrative Region) NA                84.03179
24 Fiji                                      NA                58.64643
25 Mexico                                    NA               276.33157
26 Russia                                    NA               226.17806
27 Philippines                               NA               106.18608
28 Brazil                                    NA               182.08943
29 Qatar                                     NA               204.44983
30 Turkey                                    NA               193.34075
   Goods_Rank Services_NZ$       Total_NZ$  Rank
1  2          2936.9963600000001 11933.6844 1
2  …          791.95451500000001  3379.2950 …
3  …          857.43518500000005  2309.9175 …
4  …          61.054321299999998  1088.4395 …
5  …          103.45345399999999  1053.5417 …
6  …          549.85610599999995   751.1608 …
7  3          5163.7477099999996 11447.9262 2
8  1          699.06721900000002 10861.0597 3
9  4          2720.4268000000002  8385.8107 4
10 5          199.50154900000001  3899.3133 5
11 9          1095.3715400000001  2808.8096 6
12 6          205.11337700000001  2583.8617 7
13 7          143.46304599999999  2079.4817 8
14 8          206.35709700000001  1945.8393 9
15 10         148.79145399999999  1545.1181 10
16 15         258.154652           838.7675 11
17 13         128.124774           831.0429 12
18 11         45.348736799999998   819.2086 13
19 12         75.316386499999993   782.1841 14
20 14         145.265379           755.5059 15
21 17         362.34579600000001   719.3040 16
22 16         7.7674937499999999   477.5417 17
23 29         332.09344800000002   416.1252 18
24 33         347.39745399999998   406.0439 19
25 18         18.805989799999999   295.1376 20
26 19         12.7840968           238.9622 21
27 26         115.07476            221.2608 22
28 22         28.2737795           210.3632 23
29 20         1.031288             205.4811 24
30 21         0                    193.3407 25

In [86]:
for (i in 2:6){
    table_5_untidy[i,1] = table_5_untidy[i,2]
}
table_5_untidy

   Source                                    Missing        Goods_NZ$
1  European Union                            NA              8996.68800
2  Germany                                   Germany         2587.34050
3  United Kingdom                            United Kingdom  1452.48229
4  Italy                                     Italy           1027.38519
5  France                                    France           950.08825
6  Denmark                                   Denmark          201.30472
7  Australia                                 NA              6284.17844
8  China, People's Republic of               NA             10161.99248
9  United States of America                  NA              5665.38388
10 Japan                                     NA              3699.81179
11 Singapore                                 NA              1713.43804
12 Thailand                                  NA              2378.74833
13 Korea, Republic of                        NA              1936.01864
14 United Arab Emirates                      NA              1739.48219
15 Malaysia                                  NA              1396.32667
16 India                                     NA               580.61289
17 Indonesia                                 NA               702.91815
18 Taiwan                                    NA               773.85987
19 Viet Nam                                  NA               706.86775
20 Canada                                    NA               610.24054
21 Switzerland                               NA               356.95821
22 Saudi Arabia                              NA               469.77417
23 Hong Kong (Special Administrative Region) NA                84.03179
24 Fiji                                      NA                58.64643
25 Mexico                                    NA               276.33157
26 Russia                                    NA               226.17806
27 Philippines                               NA               106.18608
28 Brazil                                    NA               182.08943
29 Qatar                                     NA               204.44983
30 Turkey                                    NA               193.34075
   Goods_Rank Services_NZ$       Total_NZ$  Rank
1  2          2936.9963600000001 11933.6844 1
2  …          791.95451500000001  3379.2950 …
3  …          857.43518500000005  2309.9175 …
4  …          61.054321299999998  1088.4395 …
5  …          103.45345399999999  1053.5417 …
6  …          549.85610599999995   751.1608 …
7  3          5163.7477099999996 11447.9262 2
8  1          699.06721900000002 10861.0597 3
9  4          2720.4268000000002  8385.8107 4
10 5          199.50154900000001  3899.3133 5
11 9          1095.3715400000001  2808.8096 6
12 6          205.11337700000001  2583.8617 7
13 7          143.46304599999999  2079.4817 8
14 8          206.35709700000001  1945.8393 9
15 10         148.79145399999999  1545.1181 10
16 15         258.154652           838.7675 11
17 13         128.124774           831.0429 12
18 11         45.348736799999998   819.2086 13
19 12         75.316386499999993   782.1841 14
20 14         145.265379           755.5059 15
21 17         362.34579600000001   719.3040 16
22 16         7.7674937499999999   477.5417 17
23 29         332.09344800000002   416.1252 18
24 33         347.39745399999998   406.0439 19
25 18         18.805989799999999   295.1376 20
26 19         12.7840968           238.9622 21
27 26         115.07476            221.2608 22
28 22         28.2737795           210.3632 23
29 20         1.031288             205.4811 24
30 21         0                    193.3407 25

In [87]:
table_5_untidy1 <- table_5_untidy[ , -2]
table_5_untidy1

   Source                                    Goods_NZ$   Goods_Rank
1  European Union                             8996.68800 2
2  Germany                                    2587.34050 …
3  United Kingdom                             1452.48229 …
4  Italy                                      1027.38519 …
5  France                                      950.08825 …
6  Denmark                                     201.30472 …
7  Australia                                  6284.17844 3
8  China, People's Republic of               10161.99248 1
9  United States of America                   5665.38388 4
10 Japan                                      3699.81179 5
11 Singapore                                  1713.43804 9
12 Thailand                                   2378.74833 6
13 Korea, Republic of                         1936.01864 7
14 United Arab Emirates                       1739.48219 8
15 Malaysia                                   1396.32667 10
16 India                                       580.61289 15
17 Indonesia                                   702.91815 13
18 Taiwan                                      773.85987 11
19 Viet Nam                                    706.86775 12
20 Canada                                      610.24054 14
21 Switzerland                                 356.95821 17
22 Saudi Arabia                                469.77417 16
23 Hong Kong (Special Administrative Region)    84.03179 29
24 Fiji                                         58.64643 33
25 Mexico                                      276.33157 18
26 Russia                                      226.17806 19
27 Philippines                                 106.18608 26
28 Brazil                                      182.08943 22
29 Qatar                                       204.44983 20
30 Turkey                                      193.34075 21
   Services_NZ$       Total_NZ$  Rank
1  2936.9963600000001 11933.6844 1
2  791.95451500000001  3379.2950 …
3  857.43518500000005  2309.9175 …
4  61.054321299999998  1088.4395 …
5  103.45345399999999  1053.5417 …
6  549.85610599999995   751.1608 …
7  5163.7477099999996 11447.9262 2
8  699.06721900000002 10861.0597 3
9  2720.4268000000002  8385.8107 4
10 199.50154900000001  3899.3133 5
11 1095.3715400000001  2808.8096 6
12 205.11337700000001  2583.8617 7
13 143.46304599999999  2079.4817 8
14 206.35709700000001  1945.8393 9
15 148.79145399999999  1545.1181 10
16 258.154652           838.7675 11
17 128.124774           831.0429 12
18 45.348736799999998   819.2086 13
19 75.316386499999993   782.1841 14
20 145.265379           755.5059 15
21 362.34579600000001   719.3040 16
22 7.7674937499999999   477.5417 17
23 332.09344800000002   416.1252 18
24 347.39745399999998   406.0439 19
25 18.805989799999999   295.1376 20
26 12.7840968           238.9622 21
27 115.07476            221.2608 22
28 28.2737795           210.3632 23
29 1.031288             205.4811 24
30 0                    193.3407 25

In [91]:
table_5_tidy <- replace(table_5_untidy1, table_5_untidy1 == "…", 0)
table_5_tidy

   Source                                    Goods_NZ$   Goods_Rank
1  European Union                             8996.68800 2
2  Germany                                    2587.34050 0
3  United Kingdom                             1452.48229 0
4  Italy                                      1027.38519 0
5  France                                      950.08825 0
6  Denmark                                     201.30472 0
7  Australia                                  6284.17844 3
8  China, People's Republic of               10161.99248 1
9  United States of America                   5665.38388 4
10 Japan                                      3699.81179 5
11 Singapore                                  1713.43804 9
12 Thailand                                   2378.74833 6
13 Korea, Republic of                         1936.01864 7
14 United Arab Emirates                       1739.48219 8
15 Malaysia                                   1396.32667 10
16 India                                       580.61289 15
17 Indonesia                                   702.91815 13
18 Taiwan                                      773.85987 11
19 Viet Nam                                    706.86775 12
20 Canada                                      610.24054 14
21 Switzerland                                 356.95821 17
22 Saudi Arabia                                469.77417 16
23 Hong Kong (Special Administrative Region)    84.03179 29
24 Fiji                                         58.64643 33
25 Mexico                                      276.33157 18
26 Russia                                      226.17806 19
27 Philippines                                 106.18608 26
28 Brazil                                      182.08943 22
29 Qatar                                       204.44983 20
30 Turkey                                      193.34075 21
   Services_NZ$       Total_NZ$  Rank
1  2936.9963600000001 11933.6844 1
2  791.95451500000001  3379.2950 0
3  857.43518500000005  2309.9175 0
4  61.054321299999998  1088.4395 0
5  103.45345399999999  1053.5417 0
6  549.85610599999995   751.1608 0
7  5163.7477099999996 11447.9262 2
8  699.06721900000002 10861.0597 3
9  2720.4268000000002  8385.8107 4
10 199.50154900000001  3899.3133 5
11 1095.3715400000001  2808.8096 6
12 205.11337700000001  2583.8617 7
13 143.46304599999999  2079.4817 8
14 206.35709700000001  1945.8393 9
15 148.79145399999999  1545.1181 10
16 258.154652           838.7675 11
17 128.124774           831.0429 12
18 45.348736799999998   819.2086 13
19 75.316386499999993   782.1841 14
20 145.265379           755.5059 15
21 362.34579600000001   719.3040 16
22 7.7674937499999999   477.5417 17
23 332.09344800000002   416.1252 18
24 347.39745399999998   406.0439 19
25 18.805989799999999   295.1376 20
26 12.7840968           238.9622 21
27 115.07476            221.2608 22
28 28.2737795           210.3632 23
29 1.031288             205.4811 24
30 0                    193.3407 25

In [92]:
sum(is.na(table_5_tidy))

[1] 0

In [ ]:
gstc_file %>%
    read_excel(sheet = "Table 6", range = 'A9:E38', col_names = c("Commodity_Service", "2016_NZ$", "2016_%", "2017_NZ$", "2017_%")) -> table_6_tidy

table_6_tidy

In [95]:
sum(is.na(table_6_tidy))

[1] 0

In [100]:
gstc_file %>%
    read_excel(sheet = "Table 7", range = 'A8:H32', col_names = c("Commodity_Service", "Missing", "Sources", "2013_NZ$", "2014_NZ$","2015_NZ$","2016_NZ$","2017_NZ$")) -> table_7_untidy

table_7_untidy

   Commodity_Service                          Missing
1  Vehicles, parts, and accessories           NA
2  Vehicles, parts, and accessories           NA
3  Electrical machinery and equipment         NA
4  Mechanical machinery and equipment         NA
5  Mechanical machinery and equipment         NA
6  Petroleum and products                     NA
7  Other personal travel                      NA
8  Textiles and textile articles              NA
9  Vehicles, parts, and accessories           NA
10 Mechanical machinery and equipment         NA
11 Transportation services                    NA
12 Other business services                    NA
13 Aircraft and parts                         NA
14 Petroleum and products                     NA
15 Transportation services                    NA
16 Furniture, furnishings, and light fittings NA
17 Vehicles, parts, and accessories           NA
18 Pharmaceutical products                    NA
19 Mechanical machinery and equipment         NA
20 Petroleum and products                     NA
21 Other business services                    NA
22 Other personal travel                      NA
23 Other personal travel                      NA
24 Business travel services                   NA
25 Vehicles, parts, and accessories           NA
   Sources                     2013_NZ$  2014_NZ$  2015_NZ$  2016_NZ$
1  Japan                       1569.0768 1720.9381 1852.5379 1889.9061
2  European Union              1369.5893 1792.5540 1842.2353 1798.6360
3  China, People's Republic of 1333.6507 1447.5774 1666.8220 2013.0107
4  European Union              1398.9019 1566.1509 1613.6153 1773.1296
5  China, People's Republic of 1424.1805 1509.7650 1585.3493 1675.9423
6  United Arab Emirates         577.6598  936.7669  388.7316  489.0544
7  Australia                   1243.2710 1381.2278 1451.6550 1497.8251
8  China, People's Republic of 1247.4036 1317.0181 1415.5114 1566.6393
9  Thailand                     596.7545  616.5448  852.7964 1085.4334
10 United States of America     879.1592 1040.1816 1196.3420 1237.4288
11 European Union               925.4095  908.5512 1255.9101 1340.9602
12 Australia                   1280.0376 1262.7570 1155.6284 1129.7820
13 United States of America     192.3748  393.5505 1337.7935 1014.5132
14 Singapore                   1027.9371 1190.1871 1052.4502  657.0876
15 Australia                    782.8630  772.3018  854.0117  685.8455
16 China, People's Republic of  386.8548  469.7205  540.3708  656.5532
17 United States of America     352.1863  547.1844  576.0541  595.8790
18 European Union               525.2639  547.7173  569.2308  630.6421
19 Japan                        394.9337  466.4530  488.9397  511.2216
20 Korea, Republic of           823.9467  920.1704  828.5644  640.9505
21 United States of America     548.0158  624.4300  743.0452  687.5320
22 European Union               416.7510  490.7158  496.1022  552.1429
23 United States of America     304.7658  384.5733  442.4940  450.8046
24 Australia                    488.5241  520.2380  535.1860  566.6699
25 Korea, Republic of           297.3480  372.7155  414.7944  424.7253
   2017_NZ$
1  2299.6392
2  2192.9377
3  2017.5920
4  1895.8037
5  1724.9480
6  1626.8630
7  1590.2304
8  1434.0519
9  1290.7300
10 1266.7620
11 1181.3240
12 1095.3490
13 1001.6342
14  981.8301
15  729.5778
16  664.2808
17  657.4022
18  620.7941
19  612.2648
20  606.7882
21  600.5370
22  570.4910
23  540.9529
24  530.0792
25  524.2893

In [102]:
table_7_tidy <- table_7_untidy[ , -2]
table_7_tidy

   Commodity_Service                          Sources
1  Vehicles, parts, and accessories           Japan
2  Vehicles, parts, and accessories           European Union
3  Electrical machinery and equipment         China, People's Republic of
4  Mechanical machinery and equipment         European Union
5  Mechanical machinery and equipment         China, People's Republic of
6  Petroleum and products                     United Arab Emirates
7  Other personal travel                      Australia
8  Textiles and textile articles              China, People's Republic of
9  Vehicles, parts, and accessories           Thailand
10 Mechanical machinery and equipment         United States of America
11 Transportation services                    European Union
12 Other business services                    Australia
13 Aircraft and parts                         United States of America
14 Petroleum and products                     Singapore
15 Transportation services                    Australia
16 Furniture, furnishings, and light fittings China, People's Republic of
17 Vehicles, parts, and accessories           United States of America
18 Pharmaceutical products                    European Union
19 Mechanical machinery and equipment         Japan
20 Petroleum and products                     Korea, Republic of
21 Other business services                    United States of America
22 Other personal travel                      European Union
23 Other personal travel                      United States of America
24 Business travel services                   Australia
25 Vehicles, parts, and accessories           Korea, Republic of
   2013_NZ$  2014_NZ$  2015_NZ$  2016_NZ$  2017_NZ$
1  1569.0768 1720.9381 1852.5379 1889.9061 2299.6392
2  1369.5893 1792.5540 1842.2353 1798.6360 2192.9377
3  1333.6507 1447.5774 1666.8220 2013.0107 2017.5920
4  1398.9019 1566.1509 1613.6153 1773.1296 1895.8037
5  1424.1805 1509.7650 1585.3493 1675.9423 1724.9480
6   577.6598  936.7669  388.7316  489.0544 1626.8630
7  1243.2710 1381.2278 1451.6550 1497.8251 1590.2304
8  1247.4036 1317.0181 1415.5114 1566.6393 1434.0519
9   596.7545  616.5448  852.7964 1085.4334 1290.7300
10  879.1592 1040.1816 1196.3420 1237.4288 1266.7620
11  925.4095  908.5512 1255.9101 1340.9602 1181.3240
12 1280.0376 1262.7570 1155.6284 1129.7820 1095.3490
13  192.3748  393.5505 1337.7935 1014.5132 1001.6342
14 1027.9371 1190.1871 1052.4502  657.0876  981.8301
15  782.8630  772.3018  854.0117  685.8455  729.5778
16  386.8548  469.7205  540.3708  656.5532  664.2808
17  352.1863  547.1844  576.0541  595.8790  657.4022
18  525.2639  547.7173  569.2308  630.6421  620.7941
19  394.9337  466.4530  488.9397  511.2216  612.2648
20  823.9467  920.1704  828.5644  640.9505  606.7882
21  548.0158  624.4300  743.0452  687.5320  600.5370
22  416.7510  490.7158  496.1022  552.1429  570.4910
23  304.7658  384.5733  442.4940  450.8046  540.9529
24  488.5241  520.2380  535.1860  566.6699  530.0792
25  297.3480  372.7155  414.7944  424.7253  524.2893

In [103]:
sum(is.na(table_7_tidy))

[1] 0