In [1]:
Sys.setenv(JAVA_HOME="C:/Program Files/Java/jre1.8.0_221")
install.packages("rJava")
install.packages("xlsx")
install.packages("unpivotr")
install.packages("tidylx")

Installing package into 'C:/Users/Munnu Joseph/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'rJava' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Munnu Joseph\AppData\Local\Temp\RtmpSya7iX\downloaded_packages

Installing package into 'C:/Users/Munnu Joseph/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'xlsx' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Munnu Joseph\AppData\Local\Temp\RtmpSya7iX\downloaded_packages

Installing package into 'C:/Users/Munnu Joseph/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'unpivotr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Munnu Joseph\AppData\Local\Temp\RtmpSya7iX\downloaded_packages

Installing package into 'C:/Users/Munnu Joseph/Documents/R/win-library/3.6'
(as 'lib' is unspecified)
Warning message:
"package 'tidylx' is not available (for R version 3.6.1)"

In [2]:
library(rJava)
library(readxl)
library(xlsx)
library(unpivotr)
library(tidyverse)
library(tidyxl)

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.2.0     v purrr   0.3.2
v tibble  2.1.3     v dplyr   0.8.3
v tidyr   0.8.3     v stringr 1.4.0
v readr   1.3.1     v forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [3]:
"overseas-merchandise-trade-january-2019.xlsx" %>%  read_excel() %>%
 glimpse()

New names:
* `` -> ...2

Observations: 37
Variables: 2
$ `Overseas merchandise trade: January 2019` <chr> NA, "List of tables", "1...
$ ...2                                       <chr> NA, NA, "Overseas mercha...

In [4]:
new_data <- xlsx_cells("overseas-merchandise-trade-january-2019.xlsx") %>% filter(sheet == "Table 2")%>%  rectify()%>% head(56) %>% tail(40)

In [5]:
new_data_2 <- as_tibble(new_data)

In [6]:

names(new_data_2) <- c("Row_Number","Year","Month","head1","Exports","head2","Export_change_Value","Imports",
                       "head3","Import_Change_Value","head4","head5","head6","head7","head8","head9","head10",
                       "head11","head12","head13")
head(new_data_2)

  Row_Number Year Month head1 Exports head2 Export_change_Value Imports head3
1 17         2016 Jan   NA    4370    NA    11.1                4343    NA
2 18         NA   Feb   NA    4179    NA    -4.4                4173    NA
3 19         NA   Mar   NA    3624    NA    -13.3               4011    NA
4 20         NA   Apr   NA    4097    NA    13                  4285    NA
5 21         NA   May   NA    4185    NA    2.2                 4242    NA
6 22         NA   Jun   NA    4089    NA    -2.3                4216    NA
  Import_Change_Value head4 head5 head6 head7 head8 head9 head10 head11 head12
1 2.7                 28    NA    4102  NA    0.2   4238  NA     -1.2   -136
2 -3.9                6     NA    4103  NA    0     4204  NA     -0.8   -101
3 -3.9                -387  NA    4096  NA    -0.2  4187  NA     -0.4   -91
4 6.8                 -188  NA    4082  NA    -0.3  4184  NA     -0.1   -102
5 -1                  -56   NA    4063  NA    -0.5  4197  NA     0.3    -134
6 -0.6                -128  NA    4042  NA    -0.5  4218  NA     0.5    -176
  head13
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

In [27]:
Month_Value <- c(1,2,3,4,5,6,7,8,9,10,11,12)

data1 <- new_data_2 %>%
select(Row_Number,Year,Month,Exports,Export_change_Value,Imports,Import_Change_Value) %>%
filter(Row_Number <29  ) %>%
mutate(Year=2016) %>%
mutate(Month=Month_Value)

data2 <- new_data_2 %>%
select(Row_Number,Year,Month,Exports,Export_change_Value,Imports,Import_Change_Value) %>%
filter(Row_Number>29 & Row_Number<42) %>%
mutate(Year=2017) %>%
mutate(Month=Month_Value)

data3 <- new_data_2 %>%
select(Row_Number,Year,Month,Exports,Export_change_Value,Imports,Import_Change_Value) %>%
filter(Row_Number>42 & Row_Number<55) %>%
mutate(Year=2018) %>%
mutate(Month=Month_Value)

data4 <- new_data_2 %>%
select(Row_Number,Year,Month,Exports,Export_change_Value,Imports,Import_Change_Value) %>%
filter(Row_Number==56) %>%
mutate(Month=1)

Export_Import_Data <- rbind(data1,data2,data3,data4) %>%
select(Year,Month,Exports,Export_change_Value,Imports,Import_Change_Value)
head(Export_Import_Data)

  Year Month Exports Export_change_Value Imports Import_Change_Value
1 2016 1     4370    11.1                4343    2.7
2 2016 2     4179    -4.4                4173    -3.9
3 2016 3     3624    -13.3               4011    -3.9
4 2016 4     4097    13                  4285    6.8
5 2016 5     4185    2.2                 4242    -1
6 2016 6     4089    -2.3                4216    -0.6

In [28]:
sapply(Export_Import_Data,class)

               Year               Month             Exports Export_change_Value
        "character"           "numeric"         "character"         "character"
            Imports Import_Change_Value
        "character"         "character"

In [29]:
Export_Import_Data_tidy <- transform(Export_Import_Data, 
         Year = round(as.numeric(Year),0) ,                         
         Exports = round(as.numeric(Exports),2),
         Export_change_Value = round(as.numeric(Export_change_Value),2),
         Imports = round(as.numeric(Imports),2),
         Import_Change_Value = round(as.numeric(Import_Change_Value),2))

In [30]:
sapply(Export_Import_Data_tidy,class)

               Year               Month             Exports Export_change_Value
          "numeric"           "numeric"           "numeric"           "numeric"
            Imports Import_Change_Value
          "numeric"           "numeric"

In [31]:
Export_Import_Data_tidy

   Year Month Exports Export_change_Value Imports Import_Change_Value
1  2016  1    4370     11.1               4343     2.7
2  2016  2    4179     -4.4               4173    -3.9
3  2016  3    3624    -13.3               4011    -3.9
4  2016  4    4097     13.0               4285     6.8
5  2016  5    4185      2.2               4242    -1.0
6  2016  6    4089     -2.3               4216    -0.6
7  2016  7    3995     -2.3               4398     4.3
8  2016  8    4001      0.2               4343    -1.3
9  2016  9    3870     -3.3               4481     3.2
10 2016 10    4222      9.1               4576     2.1
11 2016 11    3778    -10.5               4176    -8.7
12 2016 12    4030      6.7               4314     3.3
13 2017  1    4275      6.1               4474     3.7
14 2017  2    4122     -3.6               4560     1.9
15 2017  3    4134      0.3               4432    -2.8
16 2017  4    4600     11.3               4629     4.5
17 2017  5    4348     -5.5               4717     1.9
18 2017  6    4460      2.6               4522    -4.1
19 2017  7    4644      4.1               4617     2.1
20 2017  8    4328     -6.8               4523    -2.0
21 2017  9    4374      1.1               4713     4.2
22 2017 10    4650      6.3               5024     6.6
23 2017 11    4621     -0.6               5342     6.3
24 2017 12    5208     12.7               5035    -5.8
25 2018  1    4540    -12.8               5129     1.9
26 2018  2    4586      1.0               4793    -6.6
27 2018  3    4467     -2.6               5167     7.8
28 2018  4    4714      5.5               5180     0.3
29 2018  5    4668     -1.0               4936    -4.7
30 2018  6    4772      2.2               5430    10.0
31 2018  7    5068      6.2               5447     0.3
32 2018  8    4767     -5.9               5268    -3.3
33 2018  9    5133      7.7               5764     9.4
34 2018 10    4772     -7.0               5484    -4.8
35 2018 11    4871      2.1               5351    -2.4
36 2018 12    5043      3.5               5418     1.3
37 2019  1    4650     -7.8               5441     0.4