In [1]:
#Loading Libraries
library(tidyverse)
library(magrittr) # better handling of pipes
library(purrr) # to work with lists and map functions
library(glue) # to paste strings
library(stringr) # to hand strings
library(rvest) # rvest makes scraping easier
library(polite) # polite is the "polite" version of rvest

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.2.0     v purrr   0.3.2
v tibble  2.1.3     v dplyr   0.8.3
v tidyr   0.8.3     v stringr 1.4.0
v readr   1.3.1     v forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Attaching package: 'magrittr'

The following object is masked from 'package:purrr':

    set_names

The following object is masked from 'package:tidyr':

    extract


Attaching package: 'glue'

The following object is masked from 'package:dplyr':

    collapse

Loading required package: xml2

Attaching package: 'rvest'

The following object is masked from 'package:purrr':

    pluck

The following object is masked from 'package:readr':

    guess_encoding

In [35]:

url <- "https://en.wikipedia.org/wiki/Immigration_to_New_Zealand"  # this is the base url from where the scraping starts
Immigration <- read_html(url) %>%
html_table(fill=TRUE)

In [40]:
#Immigration_details

df_Immigration_details <- data.frame(Immigration[1])
Immigration_details <- df_Immigration_details %>%
filter(Country !="Country") %>%
select(Country,Gross.arrivals,Gross.arrivals.1,Gross.arrivals.2,Gross.arrivals.3,Gross.arrivals.4) %>%
rename(Gross.arrivals_2013=Gross.arrivals,Gross.arrivals_2014=Gross.arrivals.1,
       Gross.arrivals_2015=Gross.arrivals.2,Gross.arrivals_2016=Gross.arrivals.3,
       Gross.arrivals_2017=Gross.arrivals.4)

Immigration_details

   Country              Gross.arrivals_2013 Gross.arrivals_2014
1  Australia            19,549              23,275
2  United Kingdom       13,938              13,680
3  Mainland China       8,182               9,515
4  India                6,704               11,303
5  South Africa         1,285               1,669
6  Philippines          2,660               3,890
7  United States        3,894               3,900
8  France               2,374               3,334
9  Germany              3,295               3,564
10 South Korea          1,846               1,796
11 Canada               1,870               2,166
12 Japan                1,947               2,126
13 Samoa                1,421               1,726
14 Fiji                 1,210               1,361
15 Malaysia             1,083               1,177
16 Singapore            934                 1,021
17 United Arab Emirates 523                 665
18 Ireland              1,661               1,240
19 Vietnam              539                 610
20 Thailand             817                 825
21 Sri Lanka            634                 606
22 Hong Kong            823                 855
23 Total                93,965              109,317
   Gross.arrivals_2015 Gross.arrivals_2016 Gross.arrivals_2017
1  25,273              25,783              24,950
2  13,379              14,373              15,017
3  11,036              12,461              11,993
4  14,490              10,255              9,030
5  2,404               4,563               5,275
6  5,393               4,918               5,223
7  4,297               4,300               5,010
8  3,767               4,227               4,392
9  3,906               4,459               4,309
10 1,977               2,521               2,812
11 2,463               2,508               2,671
12 2,273               2,456               2,415
13 1,915               1,957               2,124
14 1,47                1,983               1,790
15 1,287               1,535               1,562
16 1,367               1,429               1,461
17 752                 989                 1,146
18 1,148               1,070               1,139
19 730                 860                 1,114
20 1,089               1,236               1,094
21 880                 908                 1,078
22 1,031               1,111               1,061
23 121,937             127,305             131,566