In [1]:
library("readxl")
library("xlsx")
library("tidyverse")
#install.packages("unpivotr")
library(unpivotr)
library(tidyxl)

ERROR: Error in library("xlsx"): there is no package called ‘xlsx’

In [37]:
"overseas-merchandise-trade-january-2019.xlsx" %>%  read_excel() %>%
 glimpse()

New names:
* `` -> ...2

Observations: 37
Variables: 2
$ `Overseas merchandise trade: January 2019` <chr> NA, "List of tables", "1.0…
$ ...2                                       <chr> NA, NA, "Overseas merchand…

## Export Data Tidying

In [66]:
new_data <- xlsx_cells("overseas-merchandise-trade-january-2019.xlsx") %>% filter(sheet == "Table 5")%>%  rectify()%>% head(52) %>% tail(43)

In [28]:
#head(new_data)

new_data_2 <- as_tibble(new_data)
#colnames(new_data_2)

#names(new_data_2)[3] <- "Product"
names(new_data_2) <- c("Row_number","HS_Code","Commodity","Export_Rate_2018_J1","Export_Rate_2019_J1","%_change_J1",
                      "Export_Rate_2018_J2","Export_Rate_2019_J2","%_change_J2","Export_Rate_2018","Export_Rate_2019","change_percent")

Export_data_2018_19<-new_data_2 %>% select (Commodity,Export_Rate_2018,Export_Rate_2019,'change_percent')
head(Export_data_2018_19)

  Commodity                                        Export_Rate_2018
1 Milk powder, butter, and cheese                  14055.635914
2 Meat and edible offal                            6711.598215
3 Logs, wood, and wood articles(4)                 4687.547952
4 Fruit                                            2650.868038
5 Preparations of milk, cereals, flour, and starch 1555.603884
6 Mechanical machinery and equipment               1646.021877
  Export_Rate_2019 change_percent
1 14414.804078     2.6
2 7358.843433      9.6
3 5263.769057      12.3
4 3232.717762      21.9
5 1871.568329      20.3
6 1849.418517      12.4

In [30]:
sapply(Export_data_2018_19,class)

       Commodity Export_Rate_2018 Export_Rate_2019   change_percent
     "character"      "character"      "character"      "character"

In [32]:
Export_data_2018_19_tidy<-transform(Export_data_2018_19, 
         Export_Rate_2018 = round(as.numeric(Export_Rate_2018),2),
         Export_Rate_2019 = round(as.numeric(Export_Rate_2019),2),
         change_percent = round(as.numeric(change_percent),1))

In [33]:
sapply(Export_data_2018_19_tidy,class)

       Commodity Export_Rate_2018 Export_Rate_2019   change_percent
     "character"        "numeric"        "numeric"        "numeric"

In [57]:
class(Export_data_2018_19_tidy)

[1] "data.frame"

PLOTTTTTTTTTTTTTTTtt

## Import Data Tidying

In [9]:
Import_data <- xlsx_cells("overseas-merchandise-trade-january-2019.xlsx") %>% filter(sheet == "Table 6")%>%  rectify()%>% head(52) %>% tail(43)

In [52]:
#head(new_data)

Import_data_2 <- as_tibble(Import_data)
#colnames(new_data_2)

#names(new_data_2)[3] <- "Product"
names(Import_data_2) <- c("Row_number","HS_Code","Commodity","Import_Rate_2018_J1","Import_Rate_2019_J1","%_change_J1",
                      "Import_Rate_2018_J2","Import_Rate_2019_J2","%_change_J2","Import_Rate_2018","Import_Rate_2019","change_percent")

Import_data_2018_19<-Import_data_2 %>% select (Commodity,Import_Rate_2018,Import_Rate_2019,'change_percent')
head(Import_data_2018_19)

  Commodity                             Import_Rate_2018 Import_Rate_2019
1 Vehicles, parts, and accessories      8958.444348      9129.940262
2 Mechanical machinery and equipment    8272.221151      8807.456562
3 Petroleum and products(4)             5474.206965      7824.904869
4 Electrical machinery and equipment(5) 4731.685218      5085.269426
5 Textiles and textile articles         2523.434336      2760.182048
6 Plastic and plastic articles(5)       2203.061126      2339.009964
  change_percent
1 1.9
2 6.5
3 42.9
4 7.5
5 9.4
6 6.2

In [26]:
sapply(Import_data_2018_19,class) #https://stackoverflow.com/questions/2288485/how-to-convert-a-data-frame-column-to-numeric-type

       Commodity Import_Rate_2018 Import_Rate_2019   change_percent
     "character"      "character"      "character"      "character"

In [53]:
Import_data_2018_19_tidy<-transform(Import_data_2018_19, 
         Import_Rate_2018 = round(as.numeric(Import_Rate_2018),2),
         Import_Rate_2019 = round(as.numeric(Import_Rate_2019),2),
         change_percent = round(as.numeric(change_percent),1))

In [49]:
sapply(Import_data_2018_19_tidy,class)

       Commodity Import_Rate_2018 Import_Rate_2019   change_percent
     "character"        "numeric"        "numeric"        "numeric"

In [56]:
class(Import_data_2018_19_tidy)

[1] "data.frame"

In [ ]:
PLOTTTTTTTTTTTTTTTTTtttt

## Export and Import by country

In [64]:
install.packages("ggmap")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)
also installing the dependency ‘rjson’

In [60]:
install.packages("maptools")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [61]:
install.packages("maps")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [65]:
library(ggmap)
library(maptools)
library(maps)

Google's Terms of Service: https://cloud.google.com/maps-platform/terms/.
Please cite ggmap if you use it! See citation("ggmap") for details.
Loading required package: sp
Checking rgeos availability: FALSE
 	Note: when rgeos is not available, polygon geometry 	computations in maptools depend on gpclib,
 	which has a restricted licence. It is disabled by default;
 	to enable gpclib, type gpclibPermit()

Attaching package: ‘maps’

The following object is masked from ‘package:purrr’:

    map