In [46]:
library(readxl)
library(tidyverse)

In [47]:
df_os_exp <- data.frame(read_excel("../DataSets/overseas-merchandise-trade-january-2019.xlsx",sheet = "Table 15", range = 'A36:J53', col_names = c("year","month","Milk,Butter,Cheese","Meat","Logs,Wood", "Crude oil", "Fruit","Fish","Aluminium and aluminium articles","Wine")) )

In [48]:
df_os_exp

   year month Milk.Butter.Cheese Meat Logs.Wood Crude.oil Fruit Fish
1  2017 Jul    0.0               -1.0 2.0       33        -3.0   0.9
2  NA   Aug   -1.4                0.4 1.7       168.1     -5.3   0.4
3  NA   Sep   -2.2                2.0 1.3       -71.7     -5.4  -0.2
4  NA   Oct   -2.2                2.8 0.9       57.6      -2.5  -0.9
5  NA   Nov   -1.0                2.7 0.6       -61.5      2.2  -1.5
6  NA   Dec    0.5                1.6 0.4       152.1      6.8  -2.0
7  2018 Jan    1.6               -0.1 0.4       -100       8.1  -2.3
8  NA   Feb    1.7               -1.3 0.5       ---        6.2  -2.5
9  NA   Mar    0.6               -1.0 0.6       -45.5      2.3  -2.3
10 NA   Apr   -1.2                0.6 0.7       9.5       -0.6  -1.8
11 NA   May   -3.3                2.1 0.9       -66.3     -0.6  -0.9
12 NA   Jun   -4.6                3.1 0.9       -100       2.7   0.0
13 NA   Jul   -4.3                3.0 1.0       ---        6.1   1.0
14 NA   Aug   -1.8                1.6 1.0       -76.1      6.2   1.5
15 NA   Sep    2.1               -0.3 0.9       675        3.7   1.8
16 NA   Oct    5.1               -1.5 0.7       -24.2      0.0   1.7
17 NA   Nov    6.0               -2.2 0.8       -100      -3.5   1.7
18 NA   Dec    5.7               -2.5 0.7       ---       -5.8   2.0
   Aluminium.and.aluminium.articles Wine
1   -5.6                            -0.6
2   10.0                            -0.6
3   -1.8                            -0.5
4  -10.7                            -0.4
5  -55.3                            -0.3
6  312.5                            -0.1
7  -46.7                             0.1
8   -1.5                             0.2
9   13.0                             0.2
10  -0.6                             0.2
11   6.1                             0.2
12 -15.2                             0.2
13  18.4                             0.3
14  -4.4                             0.3
15   7.3                             0.5
16  -8.7                             0.7
17  -3.1                             0.6
18   8.7                             0.8

In [49]:
# Dropping unnecessary column
df_os_exp <- df_os_exp %>% 
    select(-c("Crude.oil", "Aluminium.and.aluminium.articles"))

In [50]:
head(df_os_exp)

  year month Milk.Butter.Cheese Meat Logs.Wood Fruit Fish Wine
1 2017 Jul    0.0               -1.0 2.0       -3.0   0.9 -0.6
2 NA   Aug   -1.4                0.4 1.7       -5.3   0.4 -0.6
3 NA   Sep   -2.2                2.0 1.3       -5.4  -0.2 -0.5
4 NA   Oct   -2.2                2.8 0.9       -2.5  -0.9 -0.4
5 NA   Nov   -1.0                2.7 0.6        2.2  -1.5 -0.3
6 NA   Dec    0.5                1.6 0.4        6.8  -2.0 -0.1

In [51]:
#https://stackoverflow.com/a/40041172
df_os_exp <- df_os_exp %>%
  fill(year)

In [52]:
t(df_os_exp)

                   [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11]
year               2017 2017 2017 2017 2017 2017 2018 2018 2018 2018  2018
month              Jul  Aug  Sep  Oct  Nov  Dec  Jan  Feb  Mar  Apr   May
Milk.Butter.Cheese  0.0 -1.4 -2.2 -2.2 -1.0  0.5  1.6  1.7  0.6 -1.2  -3.3
Meat               -1.0  0.4  2.0  2.8  2.7  1.6 -0.1 -1.3 -1.0  0.6   2.1
Logs.Wood          2.0  1.7  1.3  0.9  0.6  0.4  0.4  0.5  0.6  0.7   0.9
Fruit              -3.0 -5.3 -5.4 -2.5  2.2  6.8  8.1  6.2  2.3 -0.6  -0.6
Fish                0.9  0.4 -0.2 -0.9 -1.5 -2.0 -2.3 -2.5 -2.3 -1.8  -0.9
Wine               -0.6 -0.6 -0.5 -0.4 -0.3 -0.1  0.1  0.2  0.2  0.2   0.2
                   [,12] [,13] [,14] [,15] [,16] [,17] [,18]
year               2018  2018  2018  2018  2018  2018  2018
month              Jun   Jul   Aug   Sep   Oct   Nov   Dec
Milk.Butter.Cheese -4.6  -4.3  -1.8   2.1   5.1   6.0   5.7
Meat                3.1   3.0   1.6  -0.3  -1.5  -2.2  -2.5
Logs.Wood          0.9   1.0   1.0   0.9   0.7   0.8   0.7
Fruit               2.7   6.1   6.2   3.7   0.0  -3.5  -5.8
Fish                0.0   1.0   1.5   1.8   1.7   1.7   2.0
Wine                0.2   0.3   0.3   0.5   0.7   0.6   0.8

In [53]:
df_fpi <- read_csv("wrangled_fpi.csv")

Warning message:
“Missing column names filled in: 'X1' [1]”
Parsed with column specification:
cols(
  .default = col_character(),
  X1 = col_double(),
  Oranges = col_double(),
  Bananas = col_double(),
  Apples = col_double(),
  Kiwifruit = col_double(),
  Sultanas = col_double(),
  Canned.peaches = col_double(),
  Lettuce = col_double(),
  Broccoli = col_double(),
  Cabbage = col_double(),
  Tomatoes = col_double(),
  Carrots = col_double(),
  Mushrooms = col_double(),
  Potatoes = col_double(),
  Frozen.peas = col_double(),
  Beef.steak..blade.steak. = col_double(),
  Beef.steak..porterhouse.sirloin.steak. = col_double(),
  Beef..mince. = col_double(),
  Pork.loin.chops = col_double(),
  Lamb.chops = col_double()
  # ... with 31 more columns
)

See spec(...) for full column specifications.

In [54]:
head(df_fpi)

  X1 Item    Oranges Bananas Apples Kiwifruit Sultanas Canned.peaches Lettuce
1 1  2006M06 3.11    1.66    1.89   1.73      1.49     1.59           6.81
2 2  2006M07 2.78    1.59    2.01   1.82      1.50     1.65           8.49
3 3  2006M08 2.43    1.83    2.15   1.92      1.53     1.60           4.70
4 4  2006M09 2.42    2.32    2.26   1.99      1.57     1.48           4.04
5 5  2006M10 3.04    2.48    2.63   1.74      1.56     1.54           2.46
6 6  2006M11 3.24    2.48    2.79   2.28      1.56     1.58           1.95
  Broccoli ⋯ Fresh.or.frozen.pizza Margarine Mayonnaise Dried.mixed.herbs
1 7.03     ⋯ 5.17                  1.96      3.17       1.88
2 8.68     ⋯ 4.98                  2.02      3.19       1.99
3 6.45     ⋯ 5.00                  2.12      3.17       2.02
4 8.01     ⋯ 4.64                  2.00      3.09       2.04
5 6.50     ⋯ 4.52                  2.07      2.92       2.01
6 3.92     ⋯ 4.94                  2.13      2.79       2.00
  Salted.blanched.peanuts Sliced.or.shaved.ham Chewing.gum year month month_abb
1 2.38                    15.35                ..          2006 06    NA
2 2.26                    15.47                ..          2006 07    NA
3 2.37                    15.00                ..          2006 08    NA
4 2.43                    15.26                ..          2006 09    NA
5 2.38                    15.50                ..          2006 10    NA
6 2.37                    14.94                ..          2006 11    NA

In [56]:
col <- colnames(df_os_exp)